<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="org.usd21.first_principles.all_nations" version="1.0.0">
 
<name>First Principles Multilanguage</name>

	<description>
	The elementary teachings, according to the scriptures of the Bible, about what it means to be a Christian. Multilanguage version
	</description>

	<author href="http://fp.usd21.org" email="firstprinciples@usd21.org">
	Kip McKean
	</author>
 
 <content src="index.html"/>

 <icon src="images/mobile/icon512x512.png" />

  <!--gap:splash src="images/mobile/splash768x1024.png" gap:platform="android" />
  <preference name="SplashScreenDelay" value="4000" />
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/-->

 <plugin name="org.apache.cordova.splashscreen" source="npm" />	
 <preference name="SplashScreenDelay" value="4000" />
 <!--preference name="AutoHideSplashScreen" value="false" /-->
 <preference name="SplashShowOnlyFirstTime" value="false" />
 <!--preference name="SplashScreen" value="splash" /-->
 <splash src="images/mobile/splash768x1024.png"/>
	
</widget>
